/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {padding: 0;margin: 0;}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  padding: 5px 25px;
  font-size: 16px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Garamond", serif;
  font-size: 1rem;
}

h2 {
  font-family: "Garamond", serif;
  font-size: 1.5rem;
}

h3 {
  font-family: "Garamond", serif;
  font-size: 1.25rem;
}

body section, body header, body footer {
    max-width: 320px;
    margin: 0 auto;
}

section, header, footer {padding:5px 25px;}

header h1 {
    position: fixed; 
    top: 0; 
    left: 0;
    margin: 1rem 2rem;
}

/* elemento wrapper que ira posicionar o menu */
#menu {
    position: fixed;
    top: 1em;
    right: 2em;
}

/*hit-box do botao*/
#toggle-menu {
    display: inline-block;
    background-color: black;
    position: relative;
    text-align: center;
    z-index: 0;
}


nav {
    margin-top: -500px;
    transition: 1s;
}

nav.active {
    margin-top: 4rem;
}

.lbl-menu,
.lbl-close {
    color: white;
    display: block;
    transition: .5s;
}

.lbl-menu { opacity: 1; padding: .5em 0;}
.lbl-close { margin-top: -2.2em; opacity: 0; padding: .5em 0;}

.lbl-menu::after,
.lbl-menu::before,
.lbl-close::after,
.lbl-close::before {
    content: "";
    display: block;
    width: 2.6em;
    height: 1px;
    background-color: #999;
    position: absolute;
    transition-duration: .5s;
    z-index: -1;
}

.lbl-close::after,
.lbl-close::before {
    opacity: 0.2;
    transition-duration: 1s;
}

#toggle-menu:hover .lbl-menu::before,
#toggle-menu:hover .lbl-close::before {
    transform: translateY(-.9em);
}

#toggle-menu:hover .lbl-menu::after,
#toggle-menu:hover .lbl-close::after {
    transform: translateY(.9em);
}

#toggle-menu.active .lbl-menu {
    opacity: 0;
}

#toggle-menu.active .lbl-close {
    opacity: 1;
}

#toggle-menu.active .lbl-close::after {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    opacity: 1;
}

#toggle-menu.active .lbl-close::before {
    bottom: 50%;
    transform: translate(0, -50%) rotate(-45deg);
    opacity: 1;
}
#hero {padding: 5rem 0 2rem;}
.hide {display:none;}
.show {display:inherit;}